.scroll-base-wrapper {
  margin: 0 auto;
  background: black;
  color: white;
  overflow-x: clip;

  [class~='scroll-watcher'] {
    height: 10px;
    width: 100%;
    background-color: lime;
    position: fixed;
    top: 0;
    z-index: 1000;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
  }

  [class~='parallax-wrapper'] {
    position: relative;
    margin-bottom: 30px;
    text-align: center;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      @media (prefers-reduced-motion: no-preference) {
        animation: zoom-out linear;
        animation-timeline: view();
        animation-range-start: exit;
      }
    }
    [class~='title-wrapper'] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 2.5rem;
        margin: 0;
        z-index: 2;
      }
      p {
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }

  [class~='text-part'] {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    padding: 50px 100px 0;
    z-index: 2;
  }

  [class~='picture-wrapper'] {
    padding: 0 100px;
    text-align: center;
    @media (prefers-reduced-motion: no-preference) {
      img {
        scale: 0;
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 200px 600px;
      }
    }
    p {
      font-size: 1.5rem;
    }
  }

  [class~='skill-section'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes zoom-out {
  70%,
  100% {
    scale: 3;
    opacity: 0;
  }
}
